:root {
  --dark: #2a2725;
  --darker: #211f1e;
  --red: #cc241d;
  --light-yellow: #daab50;
  --yellow: #d79921;
  --blue: #458588;
  --green: #8ec07c;
  --white: #e6d7cf;
}

/* Fonts */
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* Tags */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background: var(--darker);
  color: var(--white);
}

header, main, footer {
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 80%;
}

header, main {
  margin: 0 auto;
}

header {
  justify-content: flex-end;
}

main {
  display: flex;
  flex: 1 1 100%;
  align-items: end;
}

footer {
  height: 2rem;
  background: #458588;
  background: linear-gradient(90deg, rgba(69, 133, 136, 1) 0%, rgba(230, 215, 207, 1) 50%, rgba(204, 36, 29, 1) 100%);
  margin: 1rem auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  padding: 1rem;
  margin: 0 1rem;
  justify-content: space-between;
}

nav a.nav-link {
  font-size: 2rem;
  text-decoration: var(--blue);
}

a {
  color: var(--white);
  transition: color 250ms ease-in-out 100ms;
}
a:hover {
  color: var(--light-yellow);
  opacity: 80%;
}

/* General Utility */
.antialiased {
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.blurred {
  filter: blur(0.15rem);
}

.translucent {
  opacity: 95%;
}

@media (min-width: 300px) and (max-width: 650px) {
  header, main, footer {
    width: 95%;
  }

  header {
    justify-content: center;
  }

  nav {
    margin: 0;
    padding: 0;
  }

  nav a.nav-link {
    font-size: 1.3rem;
  }
}